.mat-form-field {
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    text-align: left;
    width: 29%;
  }
  
  input {
    font-size: medium;
  }
  
  .labelSize {
    font-weight: 400;
  }
  