.radio {
    font-weight: bold;
  }
  .margin-bottom {
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .radio-button {
    margin: 8px;
  }
  .labelWeight{
    font-weight: 700;
    padding: 10px 10px;
  }